﻿@{
    ViewData["Title"] = "Chatter";
}



<div class="ui container fluid">
    <div class="ui segment" id="context">
        <div class="left ui rail">
            <div class="ui sticky">
                <h3 class="ui header">Channels</h3>
                <div id="channelList" class="ui list relaxed">
                    <div ng-repeat="ch in channels" class="item" ng-click="changeChannel(ch.name)" ng-class="{'activeChannel' : ch.name == channels[currentChannelId].name}">
                        <span class="channelLabel">{{ch.name}}</span>
                        <span ng-if="ch.unread > 0" class="ui label">
                            <i class="icon comment outline"></i>{{ch.unread}}
                        </span>
                        <i class="icon remove" ng-click="leaveChannel(ch.name)"></i>
                    </div>
                </div>
                <button id="newChannelBtn" ng-click="showNewChannelModal()" class="ui black basic fluid button">New</button>
            </div>
        </div>
        <div class="right ui rail">
            <div class="ui sticky">
                <h3 class="ui header">Channel users</h3>
                <div id="userList" class="ui list relaxed"><div  ng-repeat="user in channels[currentChannelId].users"  class="item" id="{{user}}"><i class="ui icon circle"></i>{{user}}</div></div>
            </div>
        </div>
        <div id="messageBox" class="ui action input fluid">
            <input id="messageInput" ng-model="userMessage" type="text" placeholder="What do you want to say?">
            <button class="ui darkcyan button" ng-click="sendMessage()">Say it!</button>
        </div>
        <div id="messageContainer">
            <p class="message" ng-class="{'otherMessage' : msg.userName != userName}"  ng-repeat="msg in channels[currentChannelId].messages"><span class="sender">{{msg.userName}}:</span>{{msg.message}}</p>
        </div>
    </div>
</div>

<div id="userNameModal" class="ui modal small">
    <div class="header">
        What's your name?
    </div>
    <div class="content">
        <div class="ui action input fluid">
            <input id="userNameInput" type="text" placeholder="user name" required ng-model="userName">
        </div>
        <div class="errorMsg" ng-if="nameExists">This username is already taken</div>
        <div class="errorMsg" ng-if="nameTooLong">Username too long (max. 15 characters)</div>
    </div>
    <div class="actions">
       <div class="ui darkcyan button fluid" ng-click="setUserName()">
                ENTER
            </div>
    </div>
</div>

<div id="newChannelModal" class="ui modal small">
    <div class="header">
        Join channel
    </div>
    <div class="content">
        <div class="ui action input fluid">
            <input id="newChannelInput" type="text" placeholder="channel name" required ng-model="newChannel">
        </div>
        <div class="errorMsg" ng-if="channelExists">You have already joined this channel</div>
        <div class="errorMsg" ng-if="channelTooLong">Channel name too long (max. 15 characters)</div>
    </div>
    <div class="actions">
        <div class="ui darkcyan button fluid" ng-click="joinChannel(newChannel)">
            JOIN
        </div>
    </div>
</div>

@*<style type="text/css">
    .userListDiv {
        float: right;
    }
</style>

<ul id="messages"></ul>
<input type="text" id="messageBox" />
<input type="button" id="sendMessage" value="Send Message!" />
<div class="userListDiv">
    <ul id="userList"> </ul>
</div>*@