﻿<!DOCTYPE html>
<html ng-app="chatterApp" >
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>

    <environment names="Development">
        <link rel="stylesheet" type="text/css" href="semantic/dist/semantic.css">
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" type="text/css" href="semantic/dist/semantic.min.css">
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
    @Html.ApplicationInsightsJavaScript(TelemetryConfiguration)
</head>
<body ng-controller="chatterController">

    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/js/angular.js"></script>
        <script src="~/js/angular-route.js"></script>
        <script src="~/semantic/dist/semantic.js"></script>
        <script src="~/js/jquery.signalr-2.2.1.min.js"></script>
        <script src="signalr/hubs"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/js/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery">
        </script>
        <script src="~/js/angular.min.js"></script>
        <script src="~/js/angular-route.min.js"></script>
        <script src="~/semantic/dist/semantic.min.js"></script>
        <script src="~/js/jquery.signalr-2.2.1.min.js"></script>
        <script src="signalr/hubs"></script>
       
    </environment>

        <div id="topBar" class="ui top inverted fixed menu">
            <a class="item brand" href="#">
                Chatter
            </a>
            <a class="item floated right" href="#" ng-bind="userName">
                
            </a>
        </div>
        @RenderBody()
        @*<footer class="ui center aligned inverted vertical footer segment">
                <span>Copyright 2016 &copy; Krzysztof Ciępka</span>
        </footer>*@
    <script src="~/js/site.js" asp-append-version="true"></script>
   

    @RenderSection("scripts", required: false)
</body>
</html>
