﻿
.ui.icon.circle{
    color: lawngreen;
}

.ui.list.relaxed .item{
    font-size: large;
   
}

#channelList .item{
     display: flex;
}

#channelList .item .channelLabel:hover{
    color: darkcyan;
    cursor: pointer;
}

#channelList .item .icon.remove{
    margin-left: 10px;
}

#channelList .item .icon.remove:hover{
    color: darkcyan;
    cursor: pointer;
}

#newChannelBtn{
    margin-top: 20px;
    font-size: large;
}

#newChannelBtn:hover{
    box-shadow: 0px 0px 0px 1px darkcyan inset !important;
    color: darkcyan !important;
}

.message{
    font-size: large;
    margin: 0;
    padding: 0 10px;
}

.sender{
    margin: 10px;
    font-weight: bold;
}

#userNameInput{
    margin-bottom: 10px;
}

.ui.modal .actions > .button {
    margin: 0;
}

.brand{
    font-size: x-large;
}

#messageBox{
    margin-bottom: 20px;
    padding: 0 10px;
}

#context{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
    word-break:break-word;
}

#context, .ui.sticky .ui.header{
    margin-top: 70px;
}

.ui.rail{
    width:25%;
}

.activeChannel{
    color: rgb(0,210,210);
}


.ui.label{
    background-color: transparent;
}

.otherMessage{
    background-color: rgba(0,180,180, 0.1);
    color: black;
}

#topBar{
    background-color:darkcyan;
    
}

.ui.darkcyan.button{
    background-color:darkcyan;
    color: white;
}

.errorMsg{
    color: red;
}